Repository siemens/ix, pull requests merged in 2022-11, with the labels that each got.

#82 ci(workflow/deploy-pages): refactor pages deployment into single work…
  .github/workflows/deploy-pages-dev.yml
  .github/workflows/deploy-pages-prod.yml
  .github/workflows/deploy-pages.yml
  packages/documentation/docusaurus.config.js
  scripts/common.js
  scripts/release.js
Labels: component: documentation

#102 docs: nicer MIT license badge
  README.md
  package.json
Labels: component: documentation, semvers: patch

#88 fix(documentation): add map navigation
  packages/angular-test-app/src/app/app-routing.module.ts
  packages/angular-test-app/src/app/app.module.ts
  packages/angular-test-app/src/preview-examples/map-navigation.ts
  packages/angular-test-app/src/styles.scss
  packages/documentation/docs/auto-generated/previews/angular/map-navigation-overlay.md
  packages/documentation/docs/auto-generated/previews/angular/map-navigation.md
  packages/documentation/docs/auto-generated/previews/react/basic-navigation-without-header.md
  packages/documentation/docs/auto-generated/previews/react/map-navigation-overlay.md
  packages/documentation/docs/auto-generated/previews/react/map-navigation.md
  packages/documentation/docs/auto-generated/previews/web-component/map-navigation-overlay.md
  packages/documentation/docs/auto-generated/previews/web-component/map-navigation.md
  packages/documentation/docs/controls/navigation/map-navigation.md
  packages/html-test-app/src/preview-examples/example.css
  packages/html-test-app/src/preview-examples/map-navigation.html
  packages/react-test-app/src/main.tsx
  packages/react-test-app/src/preview-examples/basic-navigation-without-header.tsx
  packages/react-test-app/src/preview-examples/map-navigation.tsx
Labels: component: documentation, jour fix @dev

#95 fix(core/styles): change pseudo selector to focus-visible
  packages/core/scss/components/_buttons.scss
  packages/core/scss/components/_checkboxes.scss
  packages/core/scss/components/_dropdown.scss
  packages/core/scss/components/_forms.scss
  packages/core/scss/components/_radiobuttons.scss
  packages/core/scss/mixins/_hover.scss
  packages/core/src/components/blind/blind.scss
  packages/core/src/components/breadcrumb/breadcrumb.scss
  packages/core/src/components/category-filter/category-filter.scss
  packages/core/src/components/chip/chip-mixin.scss
  packages/core/src/components/filter-chip/filter-chip.scss
  packages/core/src/components/menu-item/menu-item.scss
  packages/core/src/components/select/select.scss
  packages/core/src/components/tile/tile.scss
Labels: component: core, semvers: patch

#115 docs(aggrid): add installation instruction
  packages/documentation/docs/controls/grid/grid.md
Labels: component: documentation

#99 Fix(core): menu close overlays
  .gitignore
  packages/core/component-doc.json
  packages/core/src/components/menu-settings/menu-settings.tsx
  packages/core/src/components/menu/menu.tsx
  packages/core/src/components/menu/test/menu.spec.tsx
  packages/core/src/components/my-component/my-component.tsx
  scripts/lint-build.sh
Labels: component: core

#125 ci(lint-build): lint only package changes inside packages
  scripts/lint-build.sh
Labels: type: bug

#132 ci: update github actions to latest versions
  .github/workflows/actions/build/action.yml
  .github/workflows/actions/install/action.yml
  .github/workflows/actions/test/action.yml
  .github/workflows/actions/visual-regression/action.yml
  .github/workflows/build.yml
  .github/workflows/pre-publish.yml
  .github/workflows/publish.yml
  CHANGELOG.md
  package.json
  packages/aggrid/package.json
  packages/angular-test-app/package.json
  packages/angular/package.json
  packages/core/package.json
  packages/documentation/docs/installation/CHANGELOG.md
  packages/documentation/package.json
  packages/echarts/package.json
  packages/html-test-app/package.json
  packages/react-test-app/package.json
  packages/react/package.json
Labels: type: enhancement

#134 Upload build artifacts
  .github/workflows/actions/build-cache/action.yml
  .github/workflows/actions/build/action.yml
  .github/workflows/build.yml
  .github/workflows/deploy-pages.yml
  .github/workflows/pre-publish.yml
  .github/workflows/publish.yml
Labels: type: bug, type: enhancement

#135 fix(core/datepicker): remove luxon typing from component interface
  packages/core/component-doc.json
  packages/core/src/components.d.ts
  packages/core/src/components/date-picker/date-picker.tsx
  packages/core/src/components/date-picker/readme.md
  packages/core/src/components/datetime-picker/datetime-picker.tsx
  packages/core/src/components/my-component/my-component.tsx
  packages/core/src/components/time-picker/readme.md
  packages/core/src/components/time-picker/time-picker.tsx
Labels: component: core, semvers: minor

#140 chore(core): remove post install script hook
  packages/core/package.json
  packages/core/scripts/post-install/.eslintrc.json
  packages/core/scripts/post-install/post-install.mjs
Labels: type: enhancement

#129 fix(core/dropdown): breadcrumb dropdown overflow
  packages/core/component-doc.json
  packages/core/scss/components/_dropdown.scss
  packages/core/src/components/breadcrumb/breadcrumb.scss
  packages/core/src/components/breadcrumb/test/breadcrumb.e2e.ts
  packages/core/src/components/breadcrumb/test/breadcrumb.e2e.ts-snapshots/breadcrumb-lazyLoaded-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/breadcrumb/test/breadcrumb.e2e.ts-snapshots/breadcrumb-lazyLoaded-1-chromium---theme-classic-dark-win32.png
  packages/core/src/components/breadcrumb/test/breadcrumb.e2e.ts-snapshots/breadcrumb-lazyLoaded-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/breadcrumb/test/breadcrumb.e2e.ts-snapshots/breadcrumb-lazyLoaded-1-chromium---theme-classic-light-win32.png
  packages/core/src/components/breadcrumb/test/lazyLoaded/index.html
  packages/core/src/components/dropdown/test/dropdown.e2e.ts
  packages/core/src/components/dropdown/test/dropdown.e2e.ts-snapshots/dropdown-overflow-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/dropdown/test/dropdown.e2e.ts-snapshots/dropdown-overflow-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/dropdown/test/overflow/index.html
  packages/core/src/components/my-component/my-component.tsx
Labels: component: core, semvers: patch

#148 fix(core): eol uniformization
  packages/core/stencil.config.ts
Labels: type: enhancement, component: core

#150 fix(core/map-navigation): adjust styling of sidepanel
  packages/core/src/components/map-navigation-overlay/test/map-navigation.e2e.ts-snapshots/map-navigation-overlay-basic-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/map-navigation-overlay/test/map-navigation.e2e.ts-snapshots/map-navigation-overlay-basic-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/map-navigation/map-navigation.scss
  packages/core/src/components/map-navigation/test/map-navigation.e2e.ts-snapshots/map-navigation-basic-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/map-navigation/test/map-navigation.e2e.ts-snapshots/map-navigation-basic-1-chromium---theme-classic-light-linux.png
Labels: type: bug, component: core, semvers: patch

#149 fix(core/button): add space between leading icon and text
  packages/core/scss/components/_buttons.scss
  packages/core/src/components/breadcrumb/breadcrumb.scss
  packages/core/src/components/breadcrumb/test/breadcrumb.e2e.ts-snapshots/breadcrumb-basic-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/breadcrumb/test/breadcrumb.e2e.ts-snapshots/breadcrumb-basic-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/button/base-button.tsx
  packages/core/src/components/tile/test/tile.e2e.ts-snapshots/tile-basic-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/tile/test/tile.e2e.ts-snapshots/tile-basic-1-chromium---theme-classic-light-linux.png
Labels: component: core, semvers: patch

#166 fix(core/select): prevent string to be spread by '...' operator
  packages/core/src/components/select/select.tsx
  packages/core/src/components/select/test/cw-select.spec.tsx
Labels: component: core, semvers: patch

#169 fix(core/map-navigation): use ix-application-header for header part
  packages/core/component-doc.json
  packages/core/src/components/application-header/application-header.scss
  packages/core/src/components/application-header/application-header.tsx
  packages/core/src/components/application-header/test/cw-application-header.spec.tsx
  packages/core/src/components/map-navigation/map-navigation.scss
  packages/core/src/components/map-navigation/map-navigation.tsx
  packages/core/src/components/map-navigation/test/map-navigation.e2e.ts-snapshots/map-navigation-basic-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/map-navigation/test/map-navigation.e2e.ts-snapshots/map-navigation-basic-1-chromium---theme-classic-light-linux.png
Labels: component: core, semvers: patch

#180 fix(core/event-list-item): use correct custom properties
  packages/core/src/components/event-list-item/event-list-item.scss
  packages/core/src/components/event-list/test/event-list.e2e.ts-snapshots/event-list-basic-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/event-list/test/event-list.e2e.ts-snapshots/event-list-basic-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/event-list/test/event-list.e2e.ts-snapshots/event-list-compact-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/event-list/test/event-list.e2e.ts-snapshots/event-list-compact-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/event-list/test/event-list.e2e.ts-snapshots/event-list-custom-height-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/event-list/test/event-list.e2e.ts-snapshots/event-list-custom-height-1-chromium---theme-classic-light-linux.png
Labels: type: bug, component: core, semvers: patch

#170 fix(core): button group borders
  packages/core/scss/components/_button-group.scss
Labels: component: core, semvers: patch

#184 fix(core/button): remove border from ghost button
  packages/core/scss/components/_buttons.scss
  packages/core/src/components/button/test/basic/index.html
  packages/core/src/components/button/test/button.e2e.ts
  packages/core/src/components/button/test/button.e2e.ts-snapshots/button-basic-should-have-an-active-effect-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/button/test/button.e2e.ts-snapshots/button-basic-should-have-an-active-effect-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/button/test/button.e2e.ts-snapshots/button-basic-should-have-an-hover-effect-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/button/test/button.e2e.ts-snapshots/button-basic-should-have-an-hover-effect-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/button/test/button.e2e.ts-snapshots/button-basic-should-not-have-visual-regressions-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/button/test/button.e2e.ts-snapshots/button-basic-should-not-have-visual-regressions-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/chip/test/chip.e2e.ts-snapshots/chip-basic-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/chip/test/chip.e2e.ts-snapshots/chip-basic-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/tile/test/tile.e2e.ts-snapshots/tile-basic-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/tile/test/tile.e2e.ts-snapshots/tile-basic-1-chromium---theme-classic-light-linux.png
Labels: type: bug, component: core, semvers: patch

#185 fix(core/event-list): re-enable chevron and prevent event list from h…
  packages/core/src/components/event-list-item/event-list-item.scss
  packages/core/src/components/event-list-item/event-list-item.tsx
  packages/core/src/components/event-list/event-list.scss
  packages/core/src/components/event-list/test/chevron/index.html
  packages/core/src/components/event-list/test/event-list.e2e.ts
  packages/core/src/components/event-list/test/event-list.e2e.ts-snapshots/event-list-chevron-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/event-list/test/event-list.e2e.ts-snapshots/event-list-chevron-1-chromium---theme-classic-light-linux.png
Labels: type: bug, component: core, semvers: patch

#189 feat(documentation): add deprecated tag to api
  packages/angular/src/components.ts
  packages/core/component-doc.json
  packages/core/src/components.d.ts
  packages/core/src/components/animated-tabs/animated-tabs.tsx
  packages/core/src/components/animated-tabs/readme.md
  packages/core/src/components/category-filter/category-filter.tsx
  packages/core/src/components/category-filter/readme.md
  packages/core/src/components/date-picker/date-picker.tsx
  packages/core/src/components/date-picker/readme.md
  packages/core/src/components/dropdown/dropdown.tsx
  packages/core/src/components/dropdown/readme.md
  packages/core/src/components/event-list-item/event-list-item.tsx
  packages/core/src/components/event-list-item/readme.md
  packages/core/src/components/icon-button/icon-button.tsx
  packages/core/src/components/icon-button/readme.md
  packages/core/src/components/map-navigation/map-navigation.tsx
  packages/core/src/components/map-navigation/readme.md
  packages/core/src/components/menu-item/menu-item.tsx
  packages/core/src/components/menu-item/readme.md
  packages/core/src/components/split-button/readme.md
  packages/core/src/components/split-button/split-button.tsx
  packages/core/src/components/time-picker/readme.md
  packages/core/src/components/time-picker/time-picker.tsx
  packages/core/src/components/toggle/readme.md
  packages/core/src/components/toggle/toggle.tsx
  packages/documentation/package.json
  packages/documentation/scripts/copy-webcomponents.mjs
  packages/documentation/scripts/docs-tags.mjs
  packages/documentation/scripts/generate-api.mjs
  packages/documentation/src/css/api-table.css
Labels: component: documentation, type: enhancement

#181 fix(core/select): observer child label change
  packages/core/src/components/select/select.tsx
  packages/core/src/components/select/test/cw-select.spec.tsx
Labels: type: bug, component: core, semvers: patch

#187 fix(core): checkbox changes to match design
  packages/core/scss/components/_checkboxes.scss
  packages/core/src/components/checkbox/test/basic/index.html
  packages/core/src/components/checkbox/test/checkbox.e2e.ts
  packages/core/src/components/checkbox/test/checkbox.e2e.ts-snapshots/checkbox-basic-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/checkbox/test/checkbox.e2e.ts-snapshots/checkbox-basic-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/checkbox/test/checkbox.e2e.ts-snapshots/checkbox-indeterminate-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/checkbox/test/checkbox.e2e.ts-snapshots/checkbox-indeterminate-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/checkbox/test/indeterminate/index.html
Labels: type: bug, component: core, semvers: patch

#186 fix(core): radiobutton corrected design spec
  packages/core/scss/components/_checkboxes.scss
  packages/core/scss/components/_radiobuttons.scss
  packages/core/src/components/radiobutton/test/basic/index.html
  packages/core/src/components/radiobutton/test/radiobutton.e2e.ts
  packages/core/src/components/radiobutton/test/radiobutton.e2e.ts-snapshots/radiobutton-basic-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/radiobutton/test/radiobutton.e2e.ts-snapshots/radiobutton-basic-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/radiobutton/test/radiobutton.e2e.ts-snapshots/radiobutton-basic-hover-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/radiobutton/test/radiobutton.e2e.ts-snapshots/radiobutton-basic-hover-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/radiobutton/test/radiobutton.e2e.ts-snapshots/radiobutton-basic-hover-checked-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/radiobutton/test/radiobutton.e2e.ts-snapshots/radiobutton-basic-hover-checked-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/radiobutton/test/radiobutton.e2e.ts-snapshots/radiobutton-basic-hover-unchecked-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/radiobutton/test/radiobutton.e2e.ts-snapshots/radiobutton-basic-hover-unchecked-1-chromium---theme-classic-light-linux.png
Labels: type: bug, component: core, semvers: patch

#196 feat: update @siemens/ix-icons to v1.0.2
  packages/core/src/components/breadcrumb/test/breadcrumb.e2e.ts-snapshots/breadcrumb-basic-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/breadcrumb/test/breadcrumb.e2e.ts-snapshots/breadcrumb-basic-1-chromium---theme-classic-light-linux.png
  yarn.lock
Labels: component: documentation, type: enhancement, component: core, semvers: patch

#199 Better issue handling
  .github/ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs_bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE
Labels: type: enhancement
