Repository siemens/ix, pull requests merged in 2022-10, with the labels that each got.

#9 Feature/new docs
  packages/documentation/docs/team.md
  packages/documentation/src/pages/index.module.scss
  packages/documentation/src/pages/index.tsx
Labels: documentation

#22 feat(core/appliaction-header): load optional application logo
  packages/core/src/components/application-header/application-header.tsx
  packages/core/src/index.html
Labels: enhancement

#87 fix(core/event-list-item): use custom properties for mouse states
  packages/core/src/components/event-list-item/event-list-item.scss
  packages/core/src/components/event-list-item/event-list-item.tsx
  packages/core/src/components/event-list/event-list.scss
  packages/core/src/components/event-list/test/basic/index.html
  packages/core/src/components/event-list/test/compact/index.html
  packages/core/src/components/event-list/test/event-list.e2e.ts-snapshots/event-list-basic-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/event-list/test/event-list.e2e.ts-snapshots/event-list-basic-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/event-list/test/event-list.e2e.ts-snapshots/event-list-compact-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/event-list/test/event-list.e2e.ts-snapshots/event-list-compact-1-chromium---theme-classic-light-linux.png
Labels: semvers: patch

#96 fix(core/expanding-serach): expanding search sizing
  packages/core/src/components/expanding-search/expanding-search.scss
  packages/core/src/components/expanding-search/expanding-search.tsx
  packages/core/src/components/expanding-search/test/basic/index.html
  packages/core/src/components/expanding-search/test/expanding-search.e2e.ts
  packages/core/src/components/expanding-search/test/expanding-search.e2e.ts-snapshots/expanding-search-basic-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/expanding-search/test/expanding-search.e2e.ts-snapshots/expanding-search-basic-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/expanding-search/test/expanding-search.e2e.ts-snapshots/expanding-search-basic-not-expanded-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/expanding-search/test/expanding-search.e2e.ts-snapshots/expanding-search-basic-not-expanded-1-chromium---theme-classic-light-linux.png
Labels: component: core, semvers: patch
