Repository siemens/ix, pull requests merged in 2022-12, with the labels that each got.

#200 fix(angular/modal-service): pass config object to modal function
  packages/angular/src/modal/modal.service.ts
Labels: type: bug, component: angular, semvers: patch

#203 fix(documentation): fix buttons responsiveness
  packages/documentation/src/pages/index.module.scss
  packages/documentation/src/pages/index.tsx
Labels: component: documentation

#206 feat(angular/modal-service): add property to pass data into context
  .github/workflows/build.yml
  package.json
  packages/aggrid/package.json
  packages/angular-test-app/package.json
  packages/angular-test-app/src/preview-examples/modal.ts
  packages/angular/jest.config.js
  packages/angular/package.json
  packages/angular/setup-jest.ts
  packages/angular/src/modal/modal.config.ts
  packages/angular/src/modal/modal.service.spec.ts
  packages/angular/src/modal/modal.service.ts
  packages/angular/tsconfig.spec.json
  packages/documentation/docs/controls/modal.md
  packages/html-test-app/src/preview-examples/modal.html
  turbo.json
  yarn.lock
Labels: type: enhancement, component: angular, semvers: minor

#213 fix(core): radio button indeterminate
  packages/core/scss/components/_radiobuttons.scss
  packages/core/src/components/radiobutton/test/no-checked/index.html
  packages/core/src/components/radiobutton/test/radiobutton.e2e.ts
  packages/core/src/components/radiobutton/test/radiobutton.e2e.ts-snapshots/radiobutton-no-checked-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/radiobutton/test/radiobutton.e2e.ts-snapshots/radiobutton-no-checked-1-chromium---theme-classic-light-linux.png
Labels: type: bug, component: core

#214 feat(core/radiobutton, core/checkbox): align text if line break occurs
  packages/core/playwright.config.ts
  packages/core/scss/components/_checkboxes.scss
  packages/core/scss/components/_radiobuttons.scss
  packages/core/src/components/checkbox/test/checkbox.e2e.ts-snapshots/checkbox-basic-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/checkbox/test/checkbox.e2e.ts-snapshots/checkbox-basic-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/checkbox/test/checkbox.e2e.ts-snapshots/checkbox-indeterminate-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/checkbox/test/checkbox.e2e.ts-snapshots/checkbox-indeterminate-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/checkbox/test/long-text/index.html
  packages/core/src/components/my-component/my-component.tsx
  packages/core/src/components/radiobutton/test/long-text/index.html
  packages/core/src/components/radiobutton/test/radiobutton.e2e.ts
  packages/core/src/components/radiobutton/test/radiobutton.e2e.ts-snapshots/radiobutton-long-text-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/radiobutton/test/radiobutton.e2e.ts-snapshots/radiobutton-long-text-1-chromium---theme-classic-light-linux.png
Labels: type: bug, component: core, semvers: patch

#216 docs(landing-page): update key visual
  packages/documentation/static/img/220804_Keyvisual_Freisteller.png
Labels: type: bug, component: documentation, semvers: patch

#218 fix(core/icon-button): adjust styling of smaller buttons
  packages/core/scss/components/_buttons.scss
  packages/core/src/components/icon-button/icon-button.scss
  packages/core/src/components/icon-button/icon-button.tsx
  packages/core/src/components/icon-button/test/basic/index.html
  packages/core/src/components/icon-button/test/icon-button.e2e.ts-snapshots/icon-button-basic-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/icon-button/test/icon-button.e2e.ts-snapshots/icon-button-basic-1-chromium---theme-classic-light-linux.png
Labels: type: enhancement, component: core, semvers: patch

#219 feat(core): activate additional compiler features
  CHANGELOG.md
  package.json
  packages/aggrid/package.json
  packages/angular-test-app/package.json
  packages/angular/package.json
  packages/core/package.json
  packages/core/stencil.config.ts
  packages/documentation/docs/installation/CHANGELOG.md
  packages/documentation/package.json
  packages/echarts/package.json
  packages/html-test-app/package.json
  packages/react-test-app/package.json
  packages/react/package.json
Labels: type: enhancement, component: core, semvers: patch

#223 feat(angular/dropdown): add trigger directive
  packages/angular-test-app/src/preview-examples/dropdown.ts
  packages/angular/src/dropdown/trigger.directive.ts
  packages/angular/src/index.ts
  packages/angular/src/module.ts
Labels: type: enhancement, component: angular, semvers: minor

#232 docs(landing-page): update text content
  README.md
  packages/documentation/docs/getting-started-for-designers.md
  packages/documentation/docs/getting-started.md
  packages/documentation/docusaurus.config.js
  packages/documentation/src/pages/index.tsx
Labels: component: documentation

#231 docs(group): reference correct angular example
  packages/core/component-doc.json
  packages/core/src/components.d.ts
  packages/core/src/components/chip/chip.tsx
  packages/core/src/components/chip/readme.md
  packages/documentation/docs/controls/group.md
Labels: component: documentation

#235 fix(core/checkbox, core/radiobutton): hide native intput
  packages/aggrid/scss/ix-aggrid.scss
  packages/core/component-doc.json
  packages/core/scss/components/_checkboxes.scss
  packages/core/scss/components/_radiobuttons.scss
  packages/core/scss/theme/classic-dark/_variables.scss
  packages/core/scss/theme/classic-light/_variables.scss
  packages/core/src/components/group-item/group-item.scss
  packages/core/src/components/group/group.scss
  packages/core/src/components/my-component/my-component.tsx
  packages/html-test-app/src/preview-examples/aggrid.html
Labels: type: bug, component: core, semvers: patch

#236 docs: bootstrap webcomponents in root file
  packages/documentation/src/theme/Loader.tsx
  packages/documentation/src/theme/Root.tsx
  packages/documentation/src/theme/SiteMetadata/index.js
Labels: component: documentation

#238 fix(aggrid): set theme font colors
  .github/workflows/actions/visual-regression/action.yml
  package.json
  packages/aggrid/package.json
  packages/aggrid/playwright.config.ts
  packages/aggrid/scss/ix-aggrid.scss
  packages/aggrid/src/components/aggrid.e2e.ts
  packages/aggrid/src/components/aggrid.e2e.ts-snapshots/aggrid-basic-1-chromium---theme-classic-dark-linux.png
  packages/aggrid/src/components/aggrid.e2e.ts-snapshots/aggrid-basic-1-chromium---theme-classic-light-linux.png
  packages/aggrid/src/components/aggrid.e2e.ts-snapshots/aggrid-filter-1-chromium---theme-classic-dark-linux.png
  packages/aggrid/src/components/aggrid.e2e.ts-snapshots/aggrid-filter-1-chromium---theme-classic-light-linux.png
  packages/aggrid/src/components/my-component/my-component.tsx
  packages/aggrid/src/index.html
  packages/aggrid/src/utils/test/index.ts
  packages/aggrid/src/utils/test/page.ts
  packages/aggrid/src/utils/test/theme-switcher.ts
  packages/aggrid/src/utils/utils.spec.ts
  packages/aggrid/stencil.config.ts
  packages/aggrid/tsconfig.json
  turbo.json
Labels: type: bug, semvers: patch, component: aggrid

#239 docs(buttons): update examples and documentation
  packages/angular-test-app/src/preview-examples/button-ghost.ts
  packages/angular-test-app/src/preview-examples/button-grey-ghost.ts
  packages/angular-test-app/src/preview-examples/button-secondary.ts
  packages/angular-test-app/src/preview-examples/button-selected.ts
  packages/angular-test-app/src/preview-examples/buttons.ts
  packages/core/component-doc.json
  packages/core/src/components.d.ts
  packages/core/src/components/button/button.tsx
  packages/core/src/components/button/readme.md
  packages/core/src/components/map-navigation-overlay/map-navigation-overlay.tsx
  packages/html-test-app/src/preview-examples/button-ghost.html
  packages/html-test-app/src/preview-examples/button-grey-ghost.html
  packages/html-test-app/src/preview-examples/button-selected.html
  packages/react-test-app/src/preview-examples/button-ghost.tsx
  packages/react-test-app/src/preview-examples/button-grey-ghost.tsx
  packages/react-test-app/src/preview-examples/button-selected.tsx
  packages/react-test-app/src/preview-examples/buttons.tsx
Labels: component: documentation

#250 docs(tree): add tree api to docs and fix jsdocs typo
  packages/core/component-doc.json
  packages/core/src/components.d.ts
  packages/core/src/components/tree/tree.tsx
  packages/documentation/docs/controls/tree.md
Labels: component: documentation, component: core

#258 fix(documentation): capitalization
  packages/documentation/docs/controls/button.md
  packages/documentation/docs/controls/category-filter.md
  packages/documentation/docs/controls/date-picker.md
  packages/documentation/docs/controls/date-time-picker.md
  packages/documentation/docs/controls/event-list.md
  packages/documentation/docs/controls/html-grid.md
  packages/documentation/docs/controls/messagebar.md
  packages/documentation/docs/controls/navigation/_category_.json
  packages/documentation/docs/controls/navigation/basic-navigation.md
  packages/documentation/docs/controls/navigation/popover-news.md
  packages/documentation/docs/controls/navigation/vertical-tabs.md
  packages/documentation/docs/controls/radiobutton.md
  packages/documentation/docs/controls/split-button.md
  packages/documentation/docs/controls/textarea.md
  packages/documentation/docs/controls/time-picker.md
  packages/documentation/docs/design-kit/design-kit.md
  packages/documentation/docs/getting-started-for-designers.md
  packages/documentation/docs/getting-started.md
  packages/documentation/docs/icon-library/icons.md
  packages/documentation/docs/installation/javascript.md
  packages/documentation/docs/installation/migration/core-ui.md
  packages/documentation/docs/language/error-messages.md
  packages/documentation/docs/theming/_category_.json
  packages/documentation/docs/theming/animation.md
  packages/documentation/docs/theming/theming-and-styling.md
  packages/documentation/sidebars.js
Labels: component: documentation

#256 feat(angular/modal): support modal content by component class
  packages/angular-test-app/src/app/app-routing.module.ts
  packages/angular/src/modal/index.ts
  packages/angular/src/modal/modal-ref.ts
  packages/angular/src/modal/modal.config.ts
  packages/angular/src/modal/modal.service.spec.ts
  packages/angular/src/modal/modal.service.ts
Labels: component: angular, semvers: minor

#260 fix(aggrid): remove clip from ag-radiobutton
  packages/aggrid/scss/ix-aggrid.scss
Labels: type: bug, semvers: patch, component: aggrid

#262 fix(core/icon-button): prevent events during disable state
  packages/core/src/components/icon-button/icon-button.scss
  packages/core/src/components/icon-button/icon-button.tsx
  packages/core/src/components/icon-button/test/icon-button.spec.ts
Labels: type: bug, component: core, semvers: patch
