Repository siemens/ix, pull requests merged in 2023-01, with the labels that each got.

#229 feat(core/dropdown-button): add dropdown-button
  packages/angular-test-app/src/preview-examples/dropdown-button-icon.ts
  packages/angular-test-app/src/preview-examples/dropdown-button.ts
  packages/angular/src/components.ts
  packages/angular/src/declare-components.ts
  packages/core/component-doc.json
  packages/core/src/components.d.ts
  packages/core/src/components/dropdown-button/dropdown-button.scss
  packages/core/src/components/dropdown-button/dropdown-button.tsx
  packages/core/src/components/dropdown-button/readme.md
  packages/core/src/components/dropdown-button/test/basic/index.html
  packages/core/src/components/dropdown-button/test/dropdown-button-icon/index.html
  packages/core/src/components/dropdown-button/test/dropdown-button.e2e.ts
  packages/core/src/components/dropdown-button/test/dropdown-button.e2e.ts-snapshots/basic-basic-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/dropdown-button/test/dropdown-button.e2e.ts-snapshots/basic-basic-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/dropdown-button/test/dropdown-button.e2e.ts-snapshots/basic-dropdown-button-icon-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/dropdown-button/test/dropdown-button.e2e.ts-snapshots/basic-dropdown-button-icon-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/dropdown-button/test/dropdown-button.e2e.ts-snapshots/basic-dropdown-should-open-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/dropdown-button/test/dropdown-button.e2e.ts-snapshots/basic-dropdown-should-open-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/dropdown-button/test/dropdown/index.html
  packages/documentation/docs/controls/dropdown-button.md
  packages/html-test-app/src/preview-examples/dropdown-button-icon.html
  packages/html-test-app/src/preview-examples/dropdown-button.html
  packages/react-test-app/src/preview-examples/dropdown-button-icon.tsx
  packages/react-test-app/src/preview-examples/dropdown-button.tsx
  packages/react/src/components.ts
Labels: type: enhancement, component: core, semvers: minor

#286 fix(core/button): apply correct disable state
  packages/core/src/components/button/button.scss
  packages/core/src/components/button/button.tsx
  packages/core/src/components/button/test/button.spec.tsx
Labels: semvers: patch

#288 docs(generate-api): escape markdown
  packages/angular/src/components.ts
  packages/core/component-doc.json
  packages/core/src/components.d.ts
  packages/core/src/components/select-item/select-item.tsx
  packages/documentation/scripts/generate-api.ts
  packages/documentation/scripts/utils.ts
Labels: component: documentation

#289 docs(example/input): prevent site reload
  packages/html-test-app/src/preview-examples/input-disabled.html
  packages/html-test-app/src/preview-examples/input-readonly.html
  packages/html-test-app/src/preview-examples/input-with-icon.html
  packages/html-test-app/src/preview-examples/input.html
Labels: component: documentation

#271 refactor(core/theme): add new theme util
  README.md
  packages/angular-test-app/src/app/app-routing.module.ts
  packages/angular-test-app/src/app/app.module.ts
  packages/angular-test-app/src/index.html
  packages/angular-test-app/src/preview-examples/theme-switcher.ts
  packages/angular/src/index.ts
  packages/angular/src/module.ts
  packages/angular/src/theme/index.ts
  packages/angular/src/theme/theme.service.ts
  packages/core/src/components/menu/menu.tsx
  packages/core/src/components/utils/theme-switcher.e2e.ts
  packages/core/src/components/utils/theme-switcher.ts
  packages/core/src/components/utils/toggle-theme.ts
  packages/core/src/exports.ts
  packages/documentation/docs/theming/theme.md
  packages/html-test-app/src/preview-examples/theme-switcher.html
  packages/react-test-app/src/main.tsx
  packages/react-test-app/src/preview-examples/theme-switcher.tsx
Labels: component: core, semvers: minor

#292 docs(generate-api): rimraf auto-generated content
  packages/documentation/docs/theming/theme.md
  packages/documentation/package.json
  packages/documentation/scripts/copy-webcomponents.ts
  packages/documentation/scripts/generate-api.ts
  yarn.lock
Labels: component: documentation

#255 fix(core): pill alignment
  packages/core/src/components/pill/pill.scss
  packages/core/src/components/pill/pill.tsx
Labels: component: core, semvers: patch

#259 fix(core): chip alignment
  packages/core/src/components/chip/chip.scss
  packages/core/src/components/chip/chip.tsx
Labels: component: core, semvers: patch

#294 chore: update ix-icons to latest version
  yarn.lock
Labels: semvers: patch

#295 docs(installation/javascript): improve installation guide
  packages/documentation/docs/installation/javascript.md
  packages/documentation/src/components/Playground/index.tsx
  packages/documentation/static/code-runtime/angular/package.json
  packages/documentation/static/code-runtime/html/package.json
  packages/documentation/static/code-runtime/react/package.json
Labels: component: documentation

#281 fix(echarts): update theme colors
  packages/echarts/package.json
  packages/echarts/src/index.ts
  packages/echarts/src/register.ts
  packages/echarts/src/themes/brand-dark.ts
  packages/echarts/src/themes/brand-light.ts
  packages/echarts/src/themes/classic-dark.ts
  packages/echarts/src/themes/classic-light.ts
  packages/html-test-app/src/preview-examples/echarts.html
  yarn.lock
Labels: component: echart, semvers: minor

#290 docs(search): add basic index search
  packages/documentation/docusaurus.config.js
  packages/documentation/package.json
  packages/documentation/src/css/custom.css
  packages/documentation/src/theme/Navbar/Content/index.js
  packages/documentation/src/theme/SearchBar/DocSearch.js
  packages/documentation/src/theme/SearchBar/algolia.css
  packages/documentation/src/theme/SearchBar/index.js
  packages/documentation/src/theme/SearchBar/lunar-search.js
  packages/documentation/src/theme/SearchBar/styles.css
  packages/documentation/src/theme/SearchBar/templates.js
  packages/documentation/src/theme/SearchBar/utils.js
  yarn.lock
Labels: component: documentation

#300 fix(core/select): replace mutation observer with dom events
  packages/core/component-doc.json
  packages/core/src/components/select-item/events.ts
  packages/core/src/components/select-item/select-item.tsx
  packages/core/src/components/select/select.tsx
Labels: semvers: patch

#301 docs(generate-api): add since tag renderer on component level
  packages/core/component-doc.json
  packages/core/src/components/dropdown-button/dropdown-button.tsx
  packages/documentation/docs/controls/dropdown-button.md
  packages/documentation/scripts/docs-tags.ts
  packages/documentation/scripts/generate-api.ts
  packages/documentation/scripts/renderer/api-renderer.ts
  packages/documentation/scripts/utils.ts
  packages/documentation/src/css/api-table.css
  packages/documentation/src/css/custom.css
Labels: component: documentation

#313 docs(split-button): fix api and icon
  packages/angular-test-app/src/preview-examples/split-button-icons.ts
  packages/angular-test-app/src/preview-examples/split-button.ts
  packages/documentation/docs/controls/split-button.md
  packages/html-test-app/src/preview-examples/split-button-icons.html
  packages/html-test-app/src/preview-examples/split-button.html
  packages/react-test-app/src/preview-examples/split-button-icons.tsx
  packages/react-test-app/src/preview-examples/split-button.tsx
Labels: component: documentation

#302 fix(core/chip): implement inactive state
  packages/core/component-doc.json
  packages/core/src/components.d.ts
  packages/core/src/components/chip/chip-mixin.scss
  packages/core/src/components/chip/chip.scss
  packages/core/src/components/chip/chip.tsx
  packages/core/src/components/chip/test/chip.e2e.ts
  packages/core/src/components/chip/test/chip.e2e.ts-snapshots/chip-custom-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/chip/test/chip.e2e.ts-snapshots/chip-custom-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/chip/test/custom/index.html
Labels: semvers: patch

#303 fix(core/category-filter, core/expanding-search): adjust clear button
  packages/core/component-doc.json
  packages/core/src/components/category-filter/category-filter.scss
  packages/core/src/components/category-filter/category-filter.tsx
  packages/core/src/components/category-filter/test/basic/index.html
  packages/core/src/components/category-filter/test/category-filter.e2e.ts
  packages/core/src/components/category-filter/test/category-filter.e2e.ts-snapshots/category-filter-should-not-have-visual-regressions-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/category-filter/test/category-filter.e2e.ts-snapshots/category-filter-should-not-have-visual-regressions-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/expanding-search/expanding-search.scss
  packages/core/src/components/expanding-search/expanding-search.tsx
  yarn.lock
Labels: semvers: patch

#269 fix(core/map-navigation): overlay close functionality
  packages/core/src/components/map-navigation-overlay/map-navigation-overlay.scss
  packages/core/src/components/map-navigation/map-navigation.tsx
  packages/html-test-app/src/preview-examples/map-navigation-overlay.html
Labels: type: bug, component: core, semvers: patch

#320 fix(core/theme): correct typo for MutationObserver
  packages/core/src/components/utils/theme-switcher.ts
Labels: semvers: patch

#319 fix(core/tree): initializing tree
  packages/core/src/components/button/test/button.e2e.ts
  packages/core/src/components/my-component/my-component.scss
  packages/core/src/components/tree/test/basic/index.html
  packages/core/src/components/tree/test/tree.e2e.ts
  packages/core/src/components/tree/test/tree.e2e.ts-snapshots/tree-should-append-item-to-tree-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/tree/test/tree.e2e.ts-snapshots/tree-should-append-item-to-tree-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/tree/test/tree.e2e.ts-snapshots/tree-should-keep-scroll-state-1-chromium---theme-classic-dark-linux.png
  packages/core/src/components/tree/test/tree.e2e.ts-snapshots/tree-should-keep-scroll-state-1-chromium---theme-classic-light-linux.png
  packages/core/src/components/tree/tree.tsx
Labels: semvers: patch
